
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 100px;
  height: 300px;
  background-color: rgb(49, 48, 48);
  margin-top: 200px;
  border-radius: 24px;
}

.red,
.yellow,
.green {
  width: 80px;
  height: 100px;
  border-radius: 50%;
  margin: 12px;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.red {
  background-color: red;
  animation-name: RedLight;
}

.yellow {
  background-color: yellow;
  animation-name: YellowLight;
}

.green {
  background-color: green;
  animation-name: GreenLight;
}

@keyframes RedLight {
  0%, 100% {
    background: rgb(72, 26, 26);
  }
  45% {
    background: rgb(72, 32, 32);
  }
  55%, 95% {
    background: #f00;
  }
}

@keyframes YellowLight {
  0%, 100% {
    background: rgb(121, 121, 13);
  }
  40%, 60% {
    background: yellow;
  }
  80% {
    background: rgb(121, 121, 13);
  }
}

@keyframes GreenLight {
  0%, 100% {
    background: rgb(4, 142, 4);
  }
  50%, 60% {
    background: rgb(25, 41, 25);
  }
}

